*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.keyword-link {
  color: #fff;
  height: 106px;
  max-width: 100%;
  position: relative;
  display: block;
  padding: 0 20px;
  background-color: #191f28;
}

.header-keyword {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  top: 50%;
  transform: translateY(-50%);
}

.header-video {
  position: absolute;
  width: 312px;
  height: 106px;
  top: 0;
  right: -20vw;
}

.navigation {}

.nav-main {
  position: relative;
  padding: 10px 20px;
}

.logo-link {
  padding: 10px;
  display: inline-block;
  overflow: hidden;
}

.logo {
  height: 20px;
}

.btn-burger {
  border: none;
  padding: 14px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px 20px;
  outline: none;
}

.burger-wrapper {
  width: 20px;
  height: 20px;
  position: relative;
}

.nav-burger-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 20px;
  height: 2px;
  display: block;
  overflow: hidden;
  color: transparent;
  background-color: #000;
}

.nav-burger-mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  display: block;
  overflow: hidden;
  color: transparent;
  background-color: #000;
}

.nav-burger-btm {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 20px;
  height: 2px;
  display: block;
  overflow: hidden;
  color: transparent;
  background-color: #000;
}

.closetop {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.closemid {
  display: none;
}

.closebottom {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-list {
  padding-bottom: 10px;
  min-height: 0;
}

.list-item {}

.list-item a {
  font-size: 1.4rem;
  color: #000;
  display: block;
  padding: 15px 30px;
}

.list-item a:first-child {
  margin-top: 5px;
}